<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <sectionGroup name="be.stateless.test">
      <sectionGroup name="runtime">
        <section name="emptyStartup" type="Be.Stateless.Runtime.Configuration.StartupServiceManagerConfigurationSection, Be.Stateless.Runtime" />
        <section name="startup" type="Be.Stateless.Runtime.Configuration.StartupServiceManagerConfigurationSection, Be.Stateless.Runtime" />
        <section name="startupWithIncompleteService" type="Be.Stateless.Runtime.Configuration.StartupServiceManagerConfigurationSection, Be.Stateless.Runtime" />
        <section name="startupWithInvalidService" type="Be.Stateless.Runtime.Configuration.StartupServiceManagerConfigurationSection, Be.Stateless.Runtime" />
        <section name="startupWithoutServices" type="Be.Stateless.Runtime.Configuration.StartupServiceManagerConfigurationSection, Be.Stateless.Runtime" />
      </sectionGroup>
    </sectionGroup>
  </configSections>

  <be.stateless.test>
    <runtime>

      <emptyStartup />

      <startup>
        <services>
          <service type="Be.Stateless.Dummy.StartupServiceOne, Be.Stateless.Runtime.Tests" />
          <service type="Be.Stateless.Dummy.StartupServiceTwo, Be.Stateless.Runtime.Tests" />
        </services>
      </startup>

      <startupWithIncompleteService>
        <services>
          <service />
        </services>
      </startupWithIncompleteService>

      <startupWithInvalidService>
        <services>
          <service type="System.Int32" />
        </services>
      </startupWithInvalidService>

      <startupWithoutServices>
        <services />
      </startupWithoutServices>

    </runtime>
  </be.stateless.test>

</configuration>